.sidebar{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left:0;
    background-color: white;
    border-radius:  0 1rem 1rem 0 ;
    border: 1px solid lightgray;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.sidebarItems{
    width: 80%;
}

.sidebarItem{

}